@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');


body {
    font-family: 'open sans', sans-serif;
}

/* Do i need to add a media query for the small screen size?*/

@media screen and (max-width: 390px) {

a, header ul {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style-type: none;
    padding: 0.8rem;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #2e3935;
}

#logo {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #2e3935;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

#good-to-know {
    margin: 0;
}
#good-to-know h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: orange;
    color: ivory;
    padding: 1rem 0;  
    margin: 0; 
}

.about-gambia-top {
    padding: 0;
}

.sub-fact h2 {
    font-size: 1rem;
    text-align: center;
    color: ivory;
}

.sub-fact p {
    font-size: 12px;
    padding: 0 1rem;
    line-height: 18px;
    text-align: justify;
    color: white;
}

.sub-fact {
    border: 2px solid orange;
    background-color: rgba(59, 19, 39, 0.6);
}

/*How To Get There*/

#how-to-title {
    background-color: orange;
    text-align: center;
    text-transform: uppercase;
    color: ivory;
    padding: 1rem 0;
    margin: 0;
    text-transform: uppercase;
}

#how-to-get {
    margin-top: 5px;
    
}

#left-side {
    position: relative;
    
}

#left-side-content h3 {
    background-color: rgba(59, 19, 39, 0.6);
    text-align: center;
    text-transform: uppercase;
    color: ivory;
    padding: 1rem 0;
    margin: 0;
}

#left-side-content p {
    font-size: 0.5rem;
    text-align: justify;
    padding: 0 1rem;
    line-height: 18px;
}

#center-side {
    position: relative;
    bottom: 200px;
}
#circle-cover-bg {
    background: url(../images/plane.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-container {
    width: 150px;
    height: 150px;
    padding: 15px;
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

#right-side {
    position: relative;
    top: 230px;
}

#right-side-content h3 {
    background-color: rgba(59, 19, 39, 0.6);
    text-align: center;
    text-transform: uppercase;
    color: ivory;
    padding: 1rem 0;
    margin: 0;
}

#right-side-content p {
    font-size: 0.5rem;
    text-align: justify;
    padding: 0 1rem;
    line-height: 18px;
}

/*Reasons Why Section on About Gambia Page */

#reasons {
    padding: 0; 
    margin-top: 35px;
}


#reasons-why h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: orange;
    color: ivory;
    padding: 1rem 0;  
    margin: 0; 
}

#why-gambia {
    font-size: 1rem;
}

/* footer */

footer {
    background-color: rgba(232, 148, 21, 0.83);
    padding: 1rem 0;
    

}

.social-networks {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 5px;
    word-spacing: 5px;
}

 /* added in relative position and right px to center links in footer. */
.social-networks>li {
    display: inline-flex;
    position: relative;
    right: 20px;
}

.social-networks i {
    color: rgb(51, 50, 50);
}

}

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 50px;
        line-height: 25px;
    }

    #logo {
        font-size: 45px;
    }
    
} 

@media screen and (min-width: 400px) {
    * {
        margin: 0;
        padding: 0;
        border: none;
    }
    
    
    body {
        font-family: 'open sans', sans-serif;
        font-weight: 600;
        color: #3c3c3c;
    }
    
    /* headings and logo*/
    
    /* header { 
        display: inline-flex;
    } */

    h1,
    h2 {
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        color: #2e3935;
    }
    
    #logo {
        float: left;
        font-size: 300%;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    a, header ul {
        text-decoration: none;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 0;
        top: 0;
    }
    
    nav ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        list-style-type: none;
        padding: 0.5rem;
        margin: 0;
    }
    
    /* Navigation links*/
    
    nav {
        justify-content: right;
    }
    
    #menu {
        font-size: medium;

    }
    
    #menu,
    #logo {
        line-height: 75px;
    }
    
    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 40px;
    }
    
    #menu a {
        text-decoration: none;
        color: rgb(51, 50, 50);
    }
    
    #menu a:hover {
        border-bottom: 2px groove #19154a;
    }
    
    .active {
        border-bottom: 2px dotted #19154a;
    }

    /* footer */

footer {
    height: 150px;
    background-color: rgba(232, 148, 21, 0.83);
    padding-top: 2%;

}

.social-networks {
    text-align: center;
    letter-spacing: 40px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 280%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(51, 50, 50);
}

/*About Gambia*/

#about-gambia-top {
    height: 400px;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

#good-to-know {
    color: ivory;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(232, 148, 21, 0.83);
    margin: 1rem 0;
    border: 2px solid green;

    width: 100%;
    height: 80px;
    padding: 1rem;

    padding-top: 35px;
}

#good-to-know h1 {
    color: ivory;
}

#facts h2 {
    position: relative;
    color: ivory;
    padding: 0;
    font-size: 30px;
}

#facts p {
    position: relative;
    color: ivory;
    font-size: 15px;
    padding-top: 50px;
}

#facts {
    background-color: rgba(59, 19, 39, 0.6);
    height: 400px; 
    width: 20%;
    float: left;
    padding: 1.5rem 1rem;
    text-align: center;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

/*How To Get There*/

#how-to-get {
    height: 600px;
    /* margin-top: 5%; */
    text-align: center;
    /* padding: 5px; */
    font-size: 120%;
}

#how-to-title {
    margin-bottom: 3%;
    margin-bottom: 3%;
    border-top: orange solid 6px;
    border-bottom: orange solid 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#left-side {
    width: 30%;
    float: left;
}

#right-side {
    width: 30%;
    float: right;
}

#center-side {
    width: 30%;
    margin: 0 auto;
}

#left-side-content {
    width: 95%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#hr {
    border-top: 2px solid #3c3c3c;
    width: 100%;
    margin: 2px;
}

#right-side-content {
    width: 95%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#left-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: left;
    font-size: 75%;
    border-bottom: orange solid 5px;
}

#right-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: right;
    font-size: 75%;
    border-bottom: orange solid 5px;
    margin-left: 5%;
}

#left-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#right-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

#circle-cover-bg {
    background: url(../images/plane.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


}