@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    color: #3c3c3c;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #2e3935;
}

#logo {
    float: left;
    font-size: 300%;
}

/* Navigation links*/

#menu {
    font-size: medium;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: rgb(51, 50, 50);
}

#menu a:hover {
    border-bottom: 2px groove #19154a;
}

.active {
    border-bottom: 2px dotted #19154a;
}

/*sunset image*/

#sunset-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: rgb(51, 50, 50);
    font-size: 150%;
}

#sunset-image {
    height: 600px;
    width: 100%;
    background: url('../images/sunset.jpg') no-repeat center center;
}

#cover-text {
    font-size: 80%;
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 3px;

    width: 300px;
    height: 100px;

    padding-top: 50px;
    padding-left: 5px;

    background-color: rgba(245, 198, 29, .8);

    top: 30px;
    right: 150px;
    
    position: absolute;
}
