@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    color: #3c3c3c;
}

/* headings and logo*/

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #2e3935;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Navigation links*/

#menu {
    font-size: medium;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: rgb(51, 50, 50);
}

#menu a:hover {
    border-bottom: 2px groove #19154a;
}

.active {
    border-bottom: 2px dotted #19154a;
}

/*sunset image*/

#sunset-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: rgb(51, 50, 50);
    font-size: 150%;
    text-align: center;
}

#sunset-image {
    height: 600px;
    width: 100%;
    background: url('../images/Sunset.jpg') no-repeat center center;
    position: absolute;
}

#cover-text {
    font-size: 80%;
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 3px;

    width: 300px;
    height: 95px;

    padding-top: 20px;
    padding-left: 5px;

    background-color: rgba(232, 148, 21, 0.83);

    top: 30px;
    right: 100px;

    position: absolute;
}

/* practical information */

#practical-info {
    height: 800px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}


hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-side-info {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-side-info p {
    font-size: 15px;
}

.right-side-info {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-info h2 {
    text-align: right;
}

.right-side-info p {
    font-size: 15px;
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 250%
}

.center-side-info {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.center-side-info p {
    font-size: 15px;
}

/*Contact us Page*/

#contact-us {
    height: 800px;
}

#contact-us-title {
    text-align: center;
    margin: 50px 0;
    font-size: 250%
}

/* footer */

footer {
    height: 150px;
    background-color: rgba(232, 148, 21, 0.83);
    padding-top: 2%;

}

.social-networks {
    text-align: center;
    letter-spacing: 40px;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 280%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(51, 50, 50);
}

/*About Gambia*/

.about-gambia-top {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

#good-to-know {
    color: ivory;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(232, 148, 21, 0.83);
    align-content: center;

    width: 100%;
    height: 80px;
}

.facts {
    background-color: grey;
    display: flex;
    height: 360px;
    float: left;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

.sub-fact {
    background-color: grey;
    display: grid;
    width: auto;
    float: left;
    padding: 10px 10px 10px 10px;
    /* border: 2px solid rgba(232, 148, 21, 0.83); */
    box-sizing: border-box;
}

.sub-fact h2 {
    position: relative;
    color: ivory;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-bottom: 3px solid;
}

.sub-fact p {
    position: relative;
    color: ivory;
    padding: 10px 10px 10px 10px;
}

.sub-fact div {
    height: 400px;
    width: 20%;
    float: left;
    padding: 20px 20px 10px 20px;
    text-align: center;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

/*How To Get There*/

#how-to-get {
    height: 400px;
    /* margin-top: 5%; */
    text-align: center;
    /* padding: 5px; */
    font-size: 120%;

}

#how-to-title {
    margin-bottom: 3%;
    border-top: orange solid 6px;
    border-bottom: orange solid 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#left-side {
    width: 30%;
    float: left;
}

#right-side {
    width: 30%;
    float: right;
}

#center-side {
    width: 30%;
    margin: 0 auto;
}

#left-side-content {
    width: 95%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#hr {
    border-top: 2px solid #3c3c3c;
    width: 100%;
    margin: 2px;
}

#right-side-content {
    width: 95%;
    float: left;
    line-height: 15px;
    clear: both;
    margin-bottom: 40px;
}

#left-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: left;
    font-size: 75%;
    border-bottom: orange solid 5px;
}

#right-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: right;
    font-size: 75%;
    border-bottom: orange solid 5px;
    margin-left: 5%;
    padding-bottom: 5%;
}

#left-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#right-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

#circle-cover-bg {
    background: url(../images/plane.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Why Gambia */

.reasons {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

.reasons-facts {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

#why-gambia {
    color: ivory;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(232, 148, 21, 0.83);
    align-content: center;

    width: 100%;
    height: 80px;
}

.reasons-facts {
    background-color: grey;
    display: flex;
    height: 360px;
    float: left;
    padding: 30px 30px 0 30px;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

.sub-fact-2 {
    background-color: grey;
    display: grid;
    width: auto;
    float: left;
    padding: 30px 30px 0 30px;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

.reasons-facts h2 {
    position: relative;
    color: ivory;
    padding: 2%;
    font-size: 20px;
}

.reasons-facts p {
    position: relative;
    color: ivory;
    font-size: 15px;
    padding-top: 25px;
    background-color: grey;
}

.sub-fact-2 div {
    height: 400px;
    width: 20%;
    float: left;
    padding: 20px 20px 10px 20px;
    text-align: center;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

/* Things To Do */

#things-to-do {
    height: 1000px;
    width: 100%;
}

hr {
    border-top: 3px double orange;
    width: 100%;
}

#left-things {
    padding-top: 60px;
    width: 100%;
}

#title {
    width: 100%;
}

#right-things {

    width: 100%;
}

#center-things {
    padding-top: 60px;
    margin: 0 auto;
}

.left-side {
    width: 100%;
    line-height: 30px;

    margin-bottom: 50px;
    background-color: orange;
}

.right-side {
    width: 110%;
    line-height: 30px;

    margin-bottom: 50px;
    background-color: grey;
    color: ivory
}

.right-side h2 {
    text-align: left;
    color: ivory;
    width: 100%;
}

.right-side h3 {
    text-align: left;
    width: 100%;
}

#title {
    text-align: center;
    margin: 10px 0;
    font-size: 250%;
    background-color: orange;
}

#turtle-circle {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#turtle-image {
    background: url(../images/turtle_2.jpg) no-repeat;
    height: 100%;
    border-radius: 50%;
}

#things-to-do h1 {
    border-bottom: 5px solid rgba(232, 148, 21, 0.83);
    padding-bottom: 2%;
    width: 100%;
}

/* Cuisine & Culture*/

#cuisine {
    height: 700px;
    padding-top: 5%;
    padding-bottom: 5%;
}

hr {
    border-top: 3px double orange;
    width: 100%;
}

#left-things-bottom h2 {
    width: 33%;
    color: ivory;
    line-height: 30px;
}

#right-things-bottom {
    width: 33%;
    line-height: 30px;
}

#center-things-bottom {
    width: 33%;
    margin: 5%;
}

.left-side-bottom {
    width: 100%;
    line-height: 30px;
    background-color: grey;
    color: ivory
}

.right-side-bottom {
    width: 100%;
    line-height: 30px;
}

.right-side-bottom h2 {
    text-align: left;
    background-color: orange;
    line-height: 30px;
}

.right-side-bottom h3 {
    text-align: left;
    background-color: orange;
    line-height: 30px;
}

#title-cuisine {
    text-align: center;
    margin: 10px 0;
    font-size: 250%;
    background-color: orange;
    width: 100%;
}

#food-circle {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
    display: inherit;
    align-content: baseline;

}

#food-image {
    background: url(../images/food.jpg) no-repeat;
    height: 100%;
    border-radius: 50%;
}

#cuisine h1 {
    border-bottom: 2px solid rgba(232, 148, 21, 0.83);
    padding-bottom: 2%;
    width: 100%;
}


/* Media queries*/

/* For larger to medium screen sizes from 1200px wide and down*/

@media screen and (max-width: 1200px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 50px;
        line-height: 5px;
    }

    ul {
        font-size: 20px;
    }

    #logo {
        font-size: 40px;
    }

    #practical-info {
        width: 70%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 60px;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        padding: 0;
        float: left;
    }

    footer,
    .social-networks {
        display: inline-block;
        width: 100%;
        font-size: 15px;
    }

    /* About Gambia - Good to know */

    .about-gambia-top>div {
        width: 100%;
        clear: both;
        padding: 0;
        float: left;
    }

    .facts p {
        font-size: 12px;
        text-align: center;
        padding-top: 5%;
    }


    .facts h2 {
        margin-top: 5%;
        padding-top: 0;
        border-bottom: 2px solid;
        margin-bottom: 0%;
        padding-bottom: 20%;
        font-size: 15px;
    }


    /* Reasons to Discover Gambia*/

}

.reasons>div {
    width: 100%;
    clear: both;
    float: left;
}

.sub-fact-2 p {
    font-size: 12px;
    text-align: center;
    padding-top: 0;
    margin-bottom: 15px;

}

.sub-fact h2 {
    margin-top: 5%;
    padding-top: 0;
    border-bottom: 2px solid;
    margin-bottom: 5%;
    padding-bottom: 20%;
    font-size: 13px;
}

#how-to-get {
    height: 1200px;
    margin: 0 auto;
    padding-top: 5%;
}

#how-to-get p {
    font-size: 60%;
}

#how-to-get h2 {
    font-size: 150%;
}

#how-to-title {
    margin-bottom: 1px;
    margin-bottom: 1px;
    background-color: orange;
}

#left-side,
#right-side {
    width: 100%;
    padding: 0;
    border-bottom: none;
}

#center-side {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
}

/* Things To Do*/


#things-to-do {
    margin: 0 auto;
    padding-bottom: 2px;
}

#things-to-do h3 {
    font-size: 70%;
}

#things-to-do {
    font-size: 95%;
}

#title {
    margin-bottom: 10px;
    margin-top: 50px;
    border-bottom: orange solid 3px;
    border-top: orange solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color: white;
    clear: both;
}

#left-things,
#right-things {
    width: 100%;
    float: left;
    padding: 0;
}

#center-things {
    clear: both;
    width: 100%;
    float: left;
    padding-bottom: 10%
}

#cuisine {
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding-top: 2px;
    font-size: 95%;
}

#cuisine h3 {
    font-size: 70%;
}

#title-cuisine {
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: orange solid 3px;
    border-top: orange solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color: white;
}

.left-side-bottom,
.right-side-bottom {
    padding-top: 5px;
}

.right-side-bottom,
.left-side-bottom {
    padding-top: 2%;
    margin-top: 2%;
}

#left-things-bottom,
#right-things-bottom {
    width: 100%;
    float: inline-start;
    padding-top: 5px;
    padding-bottom: 5px;
}

#center-things-bottom {
    clear: both;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    padding-bottom: 2px;
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 50px;
        line-height: 25px;
    }

    #logo {
        font-size: 45px;
    }

    #cover-text {
        left: 0;
    }

    #practical-info {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about,
    .right-about,
    .center-about {
        width: inherit;
        text-align: center;
    }

    .left-side-info h2,
    .right-side-info h2,
    .center-side-info h2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .left-side-info p,
    .right-side-info p,
    .center-side-info p {
        text-align: center;
        padding: 0 20px;
        margin: 0 auto;
    }

    /* About Gambia - Good to know*/


    .about-gambia-top>div {
        width: 100%;
        clear: both;
        padding: 0;
        float: left;
    }

    .sub-fact h2 {
        font-size: 17px;
        padding-bottom: 10%;
    }

    .sub-fact p {
        padding-top: 20px;
        font-size: 10px;
        margin: 0;
        width: 100%;
    }

    /* How To Get There */

    #how-to-title {
        margin-bottom: 1px;
        margin-bottom: 1px;
        background-color: orange;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 35px;
    }

    #left-side-content h2 {
        float: left;
    }

    #right-side-content h2 {
        float: left;
        margin-left: 2rem;
    }

    /* Reasons to Discover Gambia */

    .reasons>div {
        width: 100%;
        clear: both;
        padding: 0;
        float: left;
    }

    .reasons-facts p {
        font-size: 10px;
        line-height: 1rem
    }

}

/* For small screen sizes from 390px wide and down */

@media screen and (max-width: 390px) {
    #menu {
        clear: left;
        float: left;
        position: absolute;
        margin-left: 15px;
        margin-bottom: 50px;
        margin-top: 50px;
        line-height: 20px;
        font-size: 10px;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    #logo {
        font-size: 25px;
        margin-top: -15px;

    }

    #sunset-image {
        max-width: 100%;
        margin-top: 10%;

    }

    #sunset-outer {
        max-width: 100%;
        margin-top: 10%;
        clear: both;
    }

    #cover-text {
        font-size: 40%;
        height: 10%;

    }

    #practical-info {
        width: 100%;
        height: 1200px;
    }

    #welcome {
        font-size: 70%;
        margin-top: 0;
        margin-bottom: 0;
    }

    #left-about h2 {
        font-size: 60%;
    }

    #left-about p {
        font-size: 40%;
        margin-right: 30px;
        margin-left: 0;
    }

    #right-about h2 {
        font-size: 60%;
    }

    #right-about p {
        font-size: 40%;
        margin-right: 30px;
        margin-left: 0;
    }

    #center-about h2 {
        font-size: 60%;
    }

    #center-about p {
        font-size: 40%;
        margin-right: 30px;
        margin-left: 0;
        line-height: 20px;
    }

    hr {
        border: none;
    }

    .social-networks {
        font-size: 5px;
        letter-spacing: 5px;
        word-spacing: 5px;
    }

    footer {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    /* About Gambia - Good to know*/


    #good-to-know {
        margin: 0;
    }

    #good-to-know h1 {
        text-align: center;
        text-transform: uppercase;
        background-color: orange;
        color: ivory;
        padding: 1rem 0;
    }

    .about-gambia-top {
        padding: 0;
    }

    .facts {
        height: 1100px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .sub-fact {
        border: 2px solid orange;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .sub-fact h2 {
        font-size: 1rem;
        text-align: center;
        color: ivory;
    }

    .sub-fact p {
        font-size: 12px;
        padding: 0 1rem;
        line-height: 18px;
        text-align: justify;
        color: white;
        justify-content: center;
    }

    /*How To Get There*/

    #how-to-title {
        background-color: orange;
        text-align: center;
        text-transform: uppercase;
        color: ivory;
        padding: 1rem 0;
        margin: 0;
        text-transform: uppercase;
    }

    #how-to-get {
        margin-top: 5px;
        height: 500px;

    }

    #left-side {
        position: relative;
    }

    #left-side-content h3 {
        background-color: rgba(59, 19, 39, 0.6);
        text-align: center;
        text-transform: uppercase;
        color: ivory;
        padding: 1rem 0;
        margin: 0;
    }

    #left-side-content p {
        font-size: 0.5rem;
        text-align: justify;
        padding: 0 1rem;
        line-height: 18px;
    }

    #center-side {
        position: relative;
        bottom: 250px;
    }

    #circle-cover-bg {
        background: url(../images/plane.jpg) no-repeat center center;
        height: 100%;
        border-radius: 50%;
    }

    #circle-container {
        width: 150px;
        height: 150px;
        padding: 15px;
        border-style: dashed;
        border-color: orange;
        border-width: 3px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 5%;
    }

    #right-side {
        position: relative;
        top: 230px;
    }

    #right-side-content h3 {
        background-color: rgba(59, 19, 39, 0.6);
        text-align: center;
        text-transform: uppercase;
        color: ivory;
        padding: 1rem 0;
        margin: 0;
    }

    #right-side-content p {
        font-size: 0.5rem;
        text-align: justify;
        padding: 0 1rem;
        line-height: 18px;
    }

    /*Reasons Why Section on About Gambia Page */

    #reasons {
        padding: 0;
        margin-top: 35px;
    }


    #why-gambia {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        background-color: orange;
        color: ivory;
        padding: 1rem 0;
        margin: 0;
    }

    .reasons-facts {
        display: flex;
        height: 1100px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sub-fact-2 {
        border: 2px solid orange;
        flex-direction: row;
    }


    .sub-fact-2 h2 {
        font-size: 1rem;
        text-align: center;
        color: ivory;
        border-bottom: 3px solid;
        margin-bottom: 5%;
        padding-bottom: 0;
    }

    .sub-fact-2 p {
        font-size: 12px;
        padding: 0 1rem;
        line-height: 18px;
        text-align: center;
        color: white;
        justify-content: center;
    }

    /* Things to do */

    #title {
        margin-bottom: 10px;
        margin-top: 100px;
        border-bottom: orange solid 3px;
        border-top: orange solid 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        background-color: white;
        clear: both;
    }

    #things-to-do {
        font-size: 70%;
        display: inline;

    }

    #turtle-circle {
        width: 200px;
        height: 200px;
        padding: 30px;
        border-style: dotted;
        border-color: orange;
        border-width: 5px;
        border-radius: 50%;
        margin: 0 auto;
    }

    #title-cuisine {
        margin-bottom: 50px;
        border-bottom: orange solid 3px;
        border-top: orange solid 3px;
        font-size: 20px;
        background-color: white;
        clear: both;
    }

    #cuisine {
        width: 80%;
        height: 1200px;
        margin: 0 auto;
        padding-top: 2px font-size 70%;
        display: inline;
        clear: both;
    }

    .left-side-bottom .right-side-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #food-circle {
        width: 200px;
        height: 200px;
        padding: 30px;
        border-style: dotted;
        border-color: orange;
        border-width: 5px;
        border-radius: 50%;
        margin: 0 auto;
    }
}