@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    color: #3c3c3c;
}

/* headings and logo*/

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #2e3935;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 10px;
}

/* Navigation links*/

#menu {
    font-size: medium;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: rgb(51, 50, 50);
}

#menu a:hover {
    border-bottom: 2px groove #19154a;
}

.active {
    border-bottom: 2px dotted #19154a;
}

/*sunset image*/

#sunset-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: rgb(51, 50, 50);
    font-size: 150%;
    text-align: center;
}

#sunset-image {
    height: 800px;
    width: 100%;
    background: url('../images/Sunset.jpg') no-repeat center;
    position: absolute;
}

#cover-text {
    font-size: 80%;
    font-family: Roboto;
    text-transform: capitalize;
    letter-spacing: 3px;

    width: 300px;
    height: 95px;

    padding-top: 20px;
    padding-left: 5px;

    background-color: rgba(232, 148, 21, 0.83);

    top: 30px;
    right: 100px;

    position: absolute;
}

/* practical information */

#practical-info {
    height: 800px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}


hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-side-info {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px; 
}

.left-side-info p {
    font-size: 15px;
}

.right-side-info {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px; 
}

.right-side-info h2 {
    text-align: right;
}

.right-side-info p {
    font-size: 15px;
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 250%
}

.center-side-info {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.center-side-info p {
    font-size: 15px;
}

/* footer */

footer {
    height: 150px;
    background-color: rgba(232, 148, 21, 0.83);
    padding-top: 2%;
            
}

.social-networks {
    text-align: center;
    letter-spacing: 40px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 280%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgb(51, 50, 50);
}

/*About Gambia*/

#about {
    
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}

#cows {
    height: 400px;
    width: 100%;
    overflow: hidden;
    padding-top: 1%;
}

#fun-facts {
    color:ivory;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(232, 148, 21, 0.83);
    
    width: 100%;
    height: 100px;
    padding-bottom: 0;

    padding-top: 35px;
}

#facts h2 {
    position: relative;
    color: ivory;
    padding: 5%;
    font-size: 25px;
}

#facts h3 {
    position: relative;
    color: ivory;
    font-size: 15px;
    padding-top: 25px;
}

#facts div {
    background-color: rgba(59, 19, 39, 0.6);
    height: 300px;
    width: 20%;
    float: left;
    padding: 30px 30 0 30px;
    text-align: center;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}

/*How To Get There*/

#how-to-get {
    height: 600px;
    margin-top: 5%;
    text-align: center;
    padding: 5px;
    font-size: 120%;
    
}

#how-to-title {
    margin-bottom: 3%;
    margin-bottom: 3%;
    border-top: orange solid 6px;
    border-bottom: orange solid 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#left-side {
    width: 30%;
    float: left; 
}

#right-side {
    width: 30%;
    float: right;
}

#center-side {
    width: 30%;
    margin: 0 auto;
}

#left-side-content {
    width: 95%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#hr {
    border-top: 2px solid #3c3c3c;
    width: 100%;
    margin: 2px;
}

#right-side-content {
    width: 95%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#left-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: left;
    font-size: 75%;
    border-bottom: orange solid 5px;
}

#right-side-content p {
    padding-top: 5%;
    margin-top: 5%;
    text-align: right;
    font-size: 75%;
    border-bottom: orange solid 5px;
    margin-left: 5%;
}

#left-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#right-side-content h2 {
    padding-top: 10px;
    margin-top: 5%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dashed;
    border-color: orange;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5%;
}

#circle-cover-bg {
    background: url(../images/plane.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Why Gambia */

#reasons {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1%;
    margin-top: 1%;
}

#reasons-why {
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}

#why-gambia {
    color:ivory;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(232, 148, 21, 0.83);
    
    width: 100%;
    height: 100px;
    padding-bottom: 0;

    padding-top: 35px;
}

#reasons-section h2 {
    position: relative;
    color: ivory;
    padding: 5%;
    font-size: 25px;
}

#reasons-section h3 {
    position: relative;
    color: ivory;
    font-size: 15px;
    padding-top: 25px;
}

#reasons-section div {
    background-color: rgba(59, 19, 39, 0.6);
    height: 300px;
    width: 20%;
    float: left;
    padding: 30px 30 0 30px;
    text-align: center;
    border: 2px solid rgba(232, 148, 21, 0.83);
    box-sizing: border-box;
}


/* Things To Do */

#things-to-do {
    height: 700px;
    padding-top: 5%;
}

hr {
    border-top: 3px double orange;
    width: 100%;
    margin: 5px;
}

#left-things {
    padding-top: 60px;
    width: 33%;
    float: left;
}

#right-things {
    padding-top: 60px;
    width: 33%;
    float: right;
}

#center-things {
    padding-top: 60px;
    width: 33%;
    margin: 0 auto;
}

.left-side {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-side {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-side h2 {
    text-align: right;
}

.right-side h3 {
    text-align: right;
}

#title {
    text-align: center;
    margin: 10px 0;
    font-size: 250%;
}

#turtle-circle {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#turtle-image {
    background: url(../images/turtle_2.jpg) no-repeat;
    height: 100%;
    border-radius: 50%;
}

#things-to-do h1 {
    border-bottom: 2px solid rgba(232, 148, 21, 0.83);
    padding-bottom: 2%;
}

/* Cuisine & Culture*/

#cuisine {
    height: 800px;
    padding-top: 5%;
    padding-bottom: 5%;
}

hr {
    border-top: 3px double orange;
    width: 100%;
    margin: 5px;
}

#left-things-bottom {
    padding-top: 60px;
    width: 33%;
    float: left;
}

#right-things-bottom {
    padding-top: 60px;
    width: 33%;
    float: right;
}

#center-things-bottom {
    padding-top: 60px;
    width: 33%;
    margin: 0 auto;
}

.left-side-bottom {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-bottom {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-bottom h2 {
    text-align: right;
}

.right-side-bottom h3 {
    text-align: right;
}

#title-cuisine {
    text-align: center;
    margin: 10px 0;
    font-size: 250%;
}

#food-circle {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

#food-image {
    background: url(../images/food.jpg) no-repeat;
    height: 100%;
    border-radius: 50%;
}

#cuisine h1 {
    border-bottom: 2px solid rgba(232, 148, 21, 0.83);
    padding-bottom: 2%;
}

/* Contact Us */

.register-section {  /*2nd class*/
    clear: both;
    background: url(../images/group.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
    color: black;
    background-color: rgba(59, 19, 39, 0.6);
}

.contact-us-section {
    margin-bottom: 5%;
    padding-top: 5%;
}

/* Media queries*/

/* For larger to medium screen sizes from 1200px wide and down*/
@media screen and (max-width: 1200px) {
    #practical-info {
        width: 70%;   
        height: 1200px;
        margin: 0 auto;   
    }

    #welcome {
       padding: 30px 0;
       margin: 60px;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        padding: 0;
        float: left;
    }

}

